body {
    background: #1a1a1a;
    margin: 0;
    overflow: hidden;
}

main {
    background: black;
    max-height: 100vh;
    max-height: 100dvh;
    max-width: 100%;
    aspect-ratio: 1 / 2;
    margin: auto;
    box-sizing: border-box;
    overflow: hidden;
}

img {
    max-width: 100%;
    margin: 0.5em auto;
    display: block;
}

header button {
    display: block;
    width: 90%;
    margin: auto;
    padding: 1em;
    border: none;
    border-radius: 100em;
    background: linear-gradient(orange 1%, orangered, brown 25%, rgb(70, 29, 22), #222);
    color: gainsboro;
    font-size: max(calc(min(100%, 100vh)), 2em);
    font-weight: bold;
    text-transform: uppercase;
}

button {
    cursor: pointer;
}

/*
    GAME STATES
*/

.intro header ~ * {
    display: none;
}

.introSetup1 header ~ * {
    display: none;
}

.introSetup1 header button {
    transition: 0.25s;
    transform: scale(0);
}

.introSetup1 header img {
    transition: 5s;
    transform: scale(1.25);
}

.introSetup2 header ~ * {
    display: none;
}

.introSetup2 header button {
    display: none;
}

.introSetup2 header img:first-of-type {
    transition: 2s;
    transform: scale(1.25) translateY(-200%);
}

.introSetup2 header img:last-of-type {
    transition: 2s;
    transform: scale(1.25) translateY(200%);
}