body {
    background: #1a1a1a;
    margin: 0;
    overflow: hidden;
    font-family: sans-serif;
}

main {
    background: black;
    max-height: 100vh;
    max-height: 100dvh;
    max-width: 100%;
    aspect-ratio: 1 / 2;
    margin: auto;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

menu {
    padding: 0;
}

img {
    max-width: 100%;
    margin: 0.5em auto;
    display: block;
}

li {
    color: gainsboro;
    margin: 1em;
    font-size: larger;
}

strong {
    color: orange;
}

h2 {
    text-align: center;
    color: gainsboro;
}

dialog {
    background: brown;
}

::backdrop {
    background: #000000bb;
}

button {
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    display: block;
    width: 50%;
    margin: 1em auto;
    padding: 1em;
    border: none;
    border-radius: 100vw;
    background: linear-gradient(orange 1%, orangered, brown 25%, rgb(70, 29, 22), #222);
    color: gainsboro;
}

button[disabled] {
    background: dimgray;
    color: #555;
}

button.small {
    margin: 1em;
    padding: 0.25em;
}

button.big {
    width: 90%;
    font-size: max(calc(min(100%, 100vh)), 2em);
    font-weight: bold;
    text-transform: uppercase;
}

button.bottom {
    position: absolute;
    bottom: 0;
    left: 5%;
}

.centerrow {
    max-height: 40vh;
    overflow: auto;
}