body {
    background: #1a1a1a;
    margin: 0;
    overflow: hidden;
}

main {
    background: black;
    max-height: 100vh;
    max-height: 100dvh;
    max-width: 100%;
    aspect-ratio: 1 / 2;
    margin: auto;
    box-sizing: border-box;
    overflow: hidden;
}

img {
    max-width: 100%;
    margin: 0.5em auto;
    display: block;
}

button {
    cursor: pointer;
}

h2 {
    text-align: center;
    color: gainsboro;
}